<p>Add a post</p>

<div>
    <label>Title</label>
    <div>
        <input id="title" type="text" placeholder="Title">
    </div>
</div>
<div>
    <label>Post</label>
    <div>
        <input id="post" type="text" placeholder="Post">
    </div>
</div>
<div>
    <button id="button">Submit</button>
</div>

<script src="/js/newPost.js"></script>
