<div id="add-post-container">
    <div>
        <label>Title</label>
        <div>
            <input id="title" type="text" placeholder="Title" class="add-post-title">
        </div>
    </div>
    <div>
        <label>Post</label>
        <div>
            <textarea id="post" type="text" placeholder="Post" class="add-post-content"></textarea>
        </div>
    </div>
    <div>
        <button id="button" class="add-post-sbmt">Submit</button>
    </div>
</div>

<script src="/js/newPost.js"></script>
