{{#if logged_in}}

{{#each blogposts as |blogpost|}}
<a href="/blogpost/{{id}}" id="dashboard-container"><p>{{blogpost.title}}</p></a>
{{/each}}

<div id="add-post-link">
    <a href="/dashboard/addPost">Add a post</a>
</div>

{{/if}}
