<div>
  <div id="login-form">
    <form class="login-form">
      <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username_login"/>
      </div>
      <div >
        <label for="password-login">Password:</label>
        <input type="password" id="password_login"/>
      </div>
      <div >
        <button type='submit' id="submit_login">Login</button>
      </div>
    </form>
  </div>
  <div id="sign-up">
    <a href="/signup/">Sign up</a>
  </div>
</div>

<script src="/js/login.js"></script>
