  <div >
    <h2 >Signup</h2>
    <form class="signup-form">
      <div >
        <label for="username-signup">Username:</label>
        <input  type="text" id="username_signup">
      </div>
      <div >
        <label for="password-signup">Password:</label>
        <input  type="password" id="password_signup"/>
      </div>

        <button type='submit' id="submit_signup">signup</button>

    </form>
  </div>
<script src="/js/login.js"></script>
