body {
    background-color: #081521;
    font-family: 'Mukta Malar', sans-serif;
}

/* Header */
header {
    text-align: center;
    height: 80px;
    margin: 10px 0;
    color: #1ba098;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-size: 20px;
    color: #1ba098;
}

h1 {
    font-size: 35px;
    height: 50px;
    padding: 10px;
}

/* Homepage */
#homepage-container, #dashboard-container {
    color: #deba93;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001d31;
    margin: 15px;
    padding: 10px;
    height: 100px;
    border-radius: 20px;
}

#homepage-date {
    color: #798f9d;
    font-size: 18px;
}

/* Blogpost */
#blogpost-container,
#comment-container,
#add-comment,
#login-form,
#signup-form,
#add-post-container,
#edit-post-container {
    background-color: #001d31;
    color: #798f9d;
    margin: 15px;
    border-radius: 20px;
    font-size: 22px;
    padding: 10px;
}

#blogpost-content {
    margin: 8px 0;
}

#blogpost-user-date, #comment-user-date {
    color: #475865;
    text-align: end;
    font-size: 20px;
}

#comment-container {
    text-align: end;
}

h2 {
    color: #deba93;
}

#add-comment {
    text-align: center;
}

#comment {
    outline: none;
    font-size: 15px;
    width: 90%;
    margin: 5px 0;
}

#comment-submit,
#submit_login,
#submit-signup,
#delete-btn,
.update-btn,
.add-post-sbmt,
.edit-post-sbmt {
    border-radius: 6px;
    border: none;
    padding: 6px 14px;
    background-color: #001d31;
    color: #798f9d;
}

#delete-update-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Login and Signup */
#login-form > form > div,
#signup-form > form > div,
#add-post-container > div,
#edit-post-container > div{
    margin: 10px 0;
}

#sign-up, #add-post-link {
    text-align: center;
}

#sign-up > a, #add-post-link > a {
    color: #deba93;
    text-decoration: none;
}

/* Add and edit post */
.add-post-title,
.add-post-content,
.edit-post-title,
.edit-post-content {
    outline: none;
    width: 100%;
    resize: vertical;
}

.add-post-content, .edit-post-content {
    height: 300px;
}

input[type=text], textarea {
    background-color : #081521;
    color: #deba93;
    border: none;
}

@media screen and (min-width: 600px) {
    #homepage-container,
    #dashboard-container,
    #blogpost-container,
    #comment-container,
    #add-comment,
    #login-form,
    #signup-form,
    #add-post-container,
    #edit-post-container {
        margin: 15px 80px;
    }
    .login-form, .signup-form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 1400px) {
    #homepage-container,
    #dashboard-container,
    #blogpost-container,
    #comment-container,
    #add-comment,
    #login-form,
    #signup-form,
    #add-post-container,
    #edit-post-container {
        margin: 15px 20%;
    }
    nav {
        margin: 0 20%;
    }
}
